
AI_BACKENDS=colab,kaggle


COLAB_API_URL=
COLAB_API_TOKEN=

KAGGLE_API_URL=
KAGGLE_API_TOKEN=

LOCAL_API_URL=
LOCAL_API_TOKEN=
LOCAL_AI_PORT=8001

DUBFLOW_DEVICE=
DUBFLOW_KEEP_MODELS=
DUBFLOW_MULTI_VOICE=false

HF_TOKEN=

COLAB_API_TIMEOUT=1800
